@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');

        body {
            font-family: 'Lato', arial;
            font-size: 14px;
            font-weight: 400;
        }

        #pick_county_input {
            font-family: 'Lato', arial;
            font-size: 16px;
            font-weight: 300;
        }

        #pick_state_input {
            font-family: 'Lato', arial;
            font-size: 16px;
            font-weight: 300;
        }

        #reset_button {
            font-family: 'Lato', arial;
            font-size: 16px;
            font-weight: 300;
        }

        #user_state {
            outline: 1.5px dashed lightgrey;
        }

        label {
            font-size: 16px;
            font-weight: 300;
        }

        h2 {
            font-weight: 300;
        }

        h3 {
            font-weight: 300;
            font-style: italic;
        }

        .state {
            fill: #ddd;
        }

        /* .selected_counties {
            fill: #ddd;
        } */

        .outline {
            stroke: #fff;
            stroke-width: 1px;
            fill: none;
        }

        .visualization_1 {
            display: flex;
        }

        .viz_1_map {
            flex: 1;
        }

        .select_outline {
            stroke: black;
            stroke-width: 3px;
            fill: none;
        }

        .mouseover_outline {
            stroke: black;
            stroke-width: 3px;
            fill: none;
        }
